.skeleton
    .horizontal-scroller
        .items
            - movies_amount.times do
                = link_to '#', class: 'item', "target": "_top" do
                    = render "movies/details_partials/skeletons/detailed_movie_card"
