%turbo-frame{id: "#{type}-movies-scroller"}
    .horizontal-scroller
        .items
            - movies.each do |movie|
                = link_to movie_details_path(movie.to_param), class: 'item', "target": "_top" do
                    %turbo-frame#index-movie-card{src: index_movie_card_path(movie), loading: "lazy"}
                        = render "movies/index_partials/skeletons/index_movie_card"

