.seen-movies .title-block h1 {
  display: inline-block;
}

.seen-movies .title-block h1.count {
  margin-left: 10px;
  font-size: 1.8rem;
  color: $c-text-muted;
}

.seen-movies .seen-movies-list .no-results * {
  color: $c-text-muted;
}

@media only screen and (max-width: calc($breakpoint-phone - 1px)) {
  .seen-movies .row {
    justify-content: space-evenly;
  }
}
