%turbo-frame{id: "movies-scroller"}
    - if movie_credits.present?
        .horizontal-scroller
            .items
                - movie_credits.each do |movie_credit|
                    - movie = movie_credit.movies.find_by(language: I18n.locale.to_s)
                    .item
                        %turbo-frame#detailed-movie-card{src: detailed_movie_card_with_subtext_path(movie, subtext: movie_credit.character_translated), loading: "lazy"}
                            = render "movies/details_partials/skeletons/detailed_movie_card"
    - else
        %p.empty= t '.no_movies_message'