%turbo-frame{id: "person-card"}
    .c-card.c-details-card.cast-card
        .c-card-img
            = picture(person, "w185")
            .overlay
                .show-label
                    %i.fa-solid.fa-user
                    %span= "Anzeigen"
        .detail-box
            .content
                %p.main-text= person.name
