%turbo-frame{id: "movie-images"}
  #imagesModal.modal-images.modal.c-modal.fade{"aria-hidden" => "true", "aria-labelledby" => "imagesModalLabel", "data-bs-backdrop" => "static", "data-bs-keyboard" => "false", :tabindex => "-1"}
    .modal-dialog.modal-dialog-centered.modal-xl
      .modal-content
        .modal-header
          %h1= t '.images'
          %a.float-end{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
            %span.close-icon.fa-solid.fa-xmark.close-modal
        .modal-body
          - backdrops = movie.backdrops.of_language(movie.language)
          .expanded-img-container
            = image_tag tmdb_image_url(backdrops.first.file_path, "w1280"), id: "expanded-img", class: "image image-expanded"
          %hr
          .horizontal-scroller
            .items
              - backdrops.each do |backdrop|
                = image_tag tmdb_image_url(backdrop.file_path, "w300"), class: "image item", onclick: "replaceExpandedImg('#{tmdb_image_url(backdrop.file_path, "w1280")}');"

        :javascript
          function replaceExpandedImg(img) {
            var expandImg = document.getElementById("expanded-img");
            expandImg.src = img;
          }
