%turbo-frame{id: "movie-recommendations"}
    - recommendations = movie.recommendations
    - if recommendations.empty?
        %p.empty= t '.no_movie_recommendations_found_msg'
    - else
        .horizontal-scroller
            .items
                - recommendations.each do |recommendation|
                    - movie = recommendation.recommended_movies.find_by(language: movie.language)
                    .item
                        %turbo-frame#detailed-movie-card{src: detailed_movie_card_path(movie), loading: "lazy"}
                            = render "movies/details_partials/skeletons/detailed_movie_card"
