- recommendations = movie.recommendations
- if recommendations.empty?
    %p.empty= "Basierend auf diesem Film liegen uns leider keine Empfehlungen vor."
- else
    .horizontal-scroller
        .items
            - recommendations.each do |recommendation|
                - movie = recommendation.recommended_movies.find_by(language: movie.language)
                = link_to movie_details_path(movie.to_param), class: 'item', "target": "_top" do
                    = render "movies/details_partials/details_movie_card", movie: movie
