- if image_path.blank?
    = inline_svg_tag "no_image_placeholder.svg", class: "no-image-placeholder img-fluid"
- else
    = image_tag tmdb_image_url(image_path, image_size), class: "img-fluid", loading: "lazy"
