.c-card.c-details-card.cast-card
    .c-card-img
        = picture(cast, "w185")
        .overlay
            .show-label
                %i.fa-solid.fa-user
                %span= "Anzeigen"
    .detail-box
        .content
            %p.main-text= cast.name
            %span.secondary-text= "Rolle"
